
{% extends 'common/base.html' %}{% block title %}Service App{% endblock title %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% block content %}
<div
  style="
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin: auto;
    max-width: 1200px;
  "
>
  {% if service %} {% for s in service %}
  <div
    style="
      max-width: 300px;
      margin: 20px auto;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
    "
  >
    <h2 style="margin: 10px 0; color: #007bff">{{s.title}}</h2>
    <p style="margin: 5px 0; color: #555">Frontend Developer</p>
    <p style="font-size: 14px; color: #777">{{s.description}}</p>
    <div style="margin-top: 15px">
      <p>{{s.price}} $</p>
      <p>{{s.time}}</p>
    </div>
  </div>
  {% endfor %}{% endif %}
</div>


<section id="contact" style="padding: 60px 20px; background-color: #f0f8ff">
  <h2 
  style="font-size: 30px; text-align: center; color: #007bff; margin-top: 20px"
">
User Registeration Form
</h2>
<form
  style="
    max-width: 600px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  "
  action=""
  method="POST"
>
{% csrf_token %}
  
    {{ form.as_table }}
 
  <button
    type="submit"
    style="
      padding: 12px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
    "
  >
    Registeration
  </button>
</form>
</section>
{% endblock content %}
